html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
html{
  font: 62.5%
}
h1{
  font-size: 4rem
}


/* Add CSS styling here */
header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  width: 100%;
}
nav {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
}

h1 {
  color: red;
    width: 65%;
    padding-bottom: 3%;
}

nav {
  display: block;
}
/* this is the nav stuff */

.parentbutton{
  display: flex;
  flex-direction: row-reverse;
  width: 36%;
  justify-content: space-evenly;
  color: red;
}

.buttonone{
  background: whitesmoke;
  width: 3%;
  text-align: center;
}

footer{
  width: 50%;
}

.contact{
  text-align: center;
  padding-left: 75%;
  margin-top: 100%;
  padding-bottom: 5%;
}